In [2]:
import pandas as pd
import numpy as np

In [30]:
# Load the data using pandas

df = pd.read_excel('C:/Users/dayeo/Documents/GitHub/Afo/Finance assignemnt/Coursework_DATA.xls', sheet_name='Sheet1')

In [31]:
df.head()

,id,dscode,Year,LagExcessReturn,CASH,INVENTORIES,CURRENT_ASSETS,PROPERTY_PLANT_EQUIPMENT,TOTAL_INTANGIBLE,TOTAL_ASSETS,...,OPERATING_INCOME,INTEREST_EXPENSE_ON_DEBT,EBIT,PRETAX_INCOME,INCOME_TAXES,NET_INCOME_BEFORE_EXTRA_ITEMS,NET_INCOME_AVAILABLE_TO_COMMON,OPERATING_CASH_FLOW,MARKET_VALUE,EBTDA
0,505,27947W,2013,-0.035987,107505.0,0.0,117515.0,388.0,597.0,119712,...,-12566,0.0,-9639.0,-9639,0,-9639,-9639,-7468,43710.0,-9370.0
1,778,29262P,2013,1.580063,10284.0,0.0,23615.0,72.0,11571.0,35257,...,-1579,77.0,-1043.0,-1120,-174,-946,-946,97,5390.0,-1090.0
2,1037,30463C,2013,-0.894205,5553.0,1.0,8476.0,64.0,7357.0,16427,...,-542,0.0,-497.0,-497,28,-1413,-1413,-323,8510.0,-485.0
3,1400,35607F,2013,-0.373189,1447.0,0.0,1516.0,250.0,3792.0,5558,...,-892,222.0,-2318.0,-5095,0,-5095,-5095,-189,18660.0,NaN
4,4213,999779,2013,0.090696,16072.0,0.0,16505.0,0.0,32531.0,49555,...,-2956,0.0,-1784.0,-1784,0,-1784,-1784,-744,114290.0,-1746.0

In [32]:
df.shape

(11943, 31)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11943 entries, 0 to 11942
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11943 non-null  int64
 1   dscode                          11943 non-null  object
 2   Year                            11943 non-null  int64
 3   LagExcessReturn                 11943 non-null  float64
 4   CASH                            11943 non-null  float64
 5   INVENTORIES                     11943 non-null  float64
 6   CURRENT_ASSETS                  11943 non-null  float64
 7   PROPERTY_PLANT_EQUIPMENT        11943 non-null  float64
 8   TOTAL_INTANGIBLE                11943 non-null  float64
 9   TOTAL_ASSETS                    11943 non-null  int64
 10  ACCOUNTS_PAYEABLE               11943 non-null  float64
 11  CURRENT_LIABILITIES             11943 non-null  float64
 12  WORKING_CAPITAL                 11943 non-null  float64
 13  TOTAL_DEBT                      11943 non-null  int64
 14  TOTAL_LIABILITIES               11943 non-null  int64
 15  COMMON_EQUITY                   11943 non-null  int64
 16  TOTAL_SHAREHOLDERS_EQUITY       11943 non-null  int64
 17  TOTAL_EQUITY                    11943 non-null  int64
 18  NET_SALES                       11943 non-null  int64
 19  COGSD                           11943 non-null  float64
 20  GROSS_INCOME                    11943 non-null  float64
 21  OPERATING_INCOME                11943 non-null  int64
 22  INTEREST_EXPENSE_ON_DEBT        11943 non-null  float64
 23  EBIT                            11943 non-null  float64
 24  PRETAX_INCOME                   11943 non-null  int64
 25  INCOME_TAXES                    11943 non-null  int64
 26  NET_INCOME_BEFORE_EXTRA_ITEMS   11943 non-null  int64
 27  NET_INCOME_AVAILABLE_TO_COMMON  11943 non-null  int64
 28  OPERATING_CASH_FLOW             11943 non-null  int64
 29  MARKET_VALUE                    11943 non-null  float64
 30  EBTDA                           10342 non-null  float64
dtypes: float64(15), int64(15), object(1)
memory usage: 2.8+ MB

![alt text](image.png)

# Liquidity 
Current assets / Total assets <br>
Cash and equivalent / current liabilities <br>
Current assets / current liabilities <br>
Sales / inventory <br>
Current assets / sales<br>
Current assets / total liabilities<br>

# Solvency 
Total Liabilities / sales<br>
Total liabilities / assets<br>
The book value of equity / Total liabilities<br>
Interest/EBITDA <br>


# Market information 
Lag (excess return) <br>
Market capital <br>
Market value / Total Equity <br>


# Profitability 
Net income / Total assets <br>
Net income / Total Equity <br>

# Asset utilisation 
Working capital / sales <br>
Quick assets / sales <br>

# Cash flow 
Operating cash flow / Total liabilities<br>
Operating cash flow / Total assets<br>

# Making the final ratios with Python

In [34]:
# Exploring the columns of the dataframe

df.columns

Index(['id', 'dscode', 'Year', 'LagExcessReturn', 'CASH', 'INVENTORIES',
       'CURRENT_ASSETS', 'PROPERTY_PLANT_EQUIPMENT', 'TOTAL_INTANGIBLE',
       'TOTAL_ASSETS', 'ACCOUNTS_PAYEABLE', 'CURRENT_LIABILITIES',
       'WORKING_CAPITAL', 'TOTAL_DEBT', 'TOTAL_LIABILITIES', 'COMMON_EQUITY',
       'TOTAL_SHAREHOLDERS_EQUITY', 'TOTAL_EQUITY', 'NET_SALES', 'COGSD',
       'GROSS_INCOME', 'OPERATING_INCOME', 'INTEREST_EXPENSE_ON_DEBT', 'EBIT',
       'PRETAX_INCOME', 'INCOME_TAXES', 'NET_INCOME_BEFORE_EXTRA_ITEMS',
       'NET_INCOME_AVAILABLE_TO_COMMON', 'OPERATING_CASH_FLOW', 'MARKET_VALUE',
       'EBTDA'],
      dtype='object')

In [35]:
# Creating financial ratios using lambda functions

# Liquidity (l1) =  Current assets / Total assets 

df['l1'] = df.apply(lambda x: x['CURRENT_ASSETS'] / x['TOTAL_ASSETS'], axis=1)

In [36]:
# Liquidity  (l2) = Cash and equivalent / current liabilities

df['l2'] = df.apply(lambda x: x['CASH'] / x['CURRENT_LIABILITIES'], axis=1)

In [37]:
# Liquidity (l3) = Current assets / current liabilities

df['l3'] = df.apply(lambda x: x['CURRENT_ASSETS'] / x['CURRENT_LIABILITIES'], axis=1)

In [38]:
# Liquidity (l4) = Sales / inventory

# on the first try, I got an error because of division by zero. I had to add a condition to check if the denominator is zero.
df['l4'] = df.apply(lambda x: x['NET_SALES'] / x['INVENTORIES'] if x['INVENTORIES'] != 0 else 0, axis=1)

In [39]:
# Liquidity (l5) = Current assets / sales

df['l5'] = df.apply(lambda x: x['CURRENT_ASSETS'] / x['NET_SALES'] if x['NET_SALES'] != 0 else 0, axis=1)

In [40]:
# Liquidity (l6) = Current liabilities / sales

df['l6'] = df.apply(lambda x: x['CURRENT_LIABILITIES'] / x['NET_SALES'] if x['NET_SALES'] != 0 else 0, axis=1)

In [41]:
# Solvency (s1) = Total Liabilities / sales

df['s1'] = df.apply(lambda x: x['TOTAL_LIABILITIES'] / x['NET_SALES'] if x['NET_SALES'] != 0 else 0, axis=1)

# Solvency (s2) = Total liabilities / assets

df['s2'] = df.apply(lambda x: x['TOTAL_LIABILITIES'] / x['TOTAL_ASSETS'] if x['TOTAL_ASSETS'] != 0 else 0, axis=1)

# Solvency (s3) = The book value of equity / Total liabilities

df['s3'] = df.apply(lambda x: x['TOTAL_SHAREHOLDERS_EQUITY'] / x['TOTAL_LIABILITIES'] if x['TOTAL_LIABILITIES'] != 0 else 0, axis=1)

# Solvency (s4) = Interest/EBITDA

df['s4'] = df.apply(lambda x: x['INTEREST_EXPENSE_ON_DEBT'] / x['EBTDA'] if x['EBTDA'] != 0 else 0, axis=1)

In [42]:
# Market information (m1) = Market value / Total Equity

df['m1'] = df.apply(lambda x: x['MARKET_VALUE'] / x['TOTAL_EQUITY'] if x['TOTAL_EQUITY'] != 0 else 0, axis=1)

In [43]:
# Profitability (p1) = Net income / Total assets

df['p1'] = df.apply(lambda x: x['NET_INCOME_AVAILABLE_TO_COMMON'] / x['TOTAL_ASSETS'] if x['TOTAL_ASSETS'] != 0 else 0, axis=1)

# Profitability (p2) = Net income / Total Equity

df['p2'] = df.apply(lambda x: x['NET_INCOME_AVAILABLE_TO_COMMON'] / x['TOTAL_EQUITY'] if x['TOTAL_EQUITY'] != 0 else 0, axis=1)

In [44]:
# Asset utilisation (a1) = Working capital / sales

df['a1'] = df.apply(lambda x: x['WORKING_CAPITAL'] / x['NET_SALES'] if x['NET_SALES'] != 0 else 0, axis=1)

# Asset utilisation (a2) = Quick assets / sales

df['a2'] = df.apply(lambda x: x['CASH'] / x['NET_SALES'] if x['NET_SALES'] != 0 else 0, axis=1)

In [45]:
# Cash flow (c1) = Operating cash flow / Total liabilities

df['c1'] = df.apply(lambda x: x['OPERATING_CASH_FLOW'] / x['TOTAL_LIABILITIES'] if x['TOTAL_LIABILITIES'] != 0 else 0, axis=1)

# Cash flow (c2) = Operating cash flow / Total assets

df['c2'] = df.apply(lambda x: x['OPERATING_CASH_FLOW'] / x['TOTAL_ASSETS'] if x['TOTAL_ASSETS'] != 0 else 0, axis=1)

In [46]:
df.shape

(11943, 48)